<%- include("./header") %>
<div class="container mt-5">
    <h1>Welcome to Journey time indicators!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>
<%- include("./footer") %>
